/* *************************
      RESET
************************* */

.ms-container{
    max-width: 100%;
}


.form-control:focus {
    box-shadow: none;
}


.ms-background-debug {
    background-color: white;
}

.ms-nav {
    min-height: 4.375rem;
    background-color: white;
}

.ms-btn {
    background-color: white;
    border: none;
    color: black;
}

.ms-search-bg {
    background-color: #e5e5e5;
}

.small-logo {
    width: 47px;
    height: 47px;
}

main {
    min-height:  calc(100vh - 4.375rem);
    background-color: orange;
}



.sidebar {
    color: white;
    background-color: #051e34;
    background-image: url(img/sidebar-bg.png);
    max-width: 8vw;
    min-height: calc(100vh - 4.375rem);
    overflow: hidden;
    flex-direction: column;
    flex-wrap: nowrap;
    line-height: 2rem;
  }

  .ms-link a {
    text-decoration: none;
    list-style: none;
    color: white;
  }

  .ms-link {
    list-style: none;

  }

  .a {
    display: flex;
    align-items: flex-end;
  }
  
  @media screen and ( max-width: 1041px) {
    

    .ms-text {
        display: none;
    }

  }

  @media screen and ( max-width: 992px) {

    .ms-text {
        display: none;
    }

  }