.ms-container{
max-width: 100%;
}



.over {
  background-color: inherit;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}


.over:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.form-control:focus {
    box-shadow: none;
}


.ms-background-debug {
    background-color: white;
}

.ms-nav {
    min-height: 4.375rem;
    background-color: white;
}

.ms-btn {
    background-color: white;
    border: none;
    color: black;
}

.ms-search-bg {
    background-color: #e5e5e5;
}

.small-logo {
    width: 47px;
    height: 47px;
}




.ms-main {
  width: 100%;
  height: calc(100vh - 4.375rem);
}

.ms-class-avatar {
  width: 2rem;
}

.ms-th {
  width: 130px;
}

.sidebar {
    color: white;
    background-color: #051e34;
    background-image: url(img/sidebar-bg.png);
    width: 8vw;
    height: calc(100vh - 4.375rem);
    overflow: hidden;
    flex-direction: column;
    flex-wrap: nowrap;
    line-height: 2rem;
  }

  .ms-link a {
    text-decoration: none;
    list-style: none;
    color: white;
  }

  .ms-link {
    list-style: none;

  }

  .ms-background-student {
    background-color: #1b72e8;
  }

  .a {
    display: flex;
    align-items: flex-end;
  }

  .plan {
    width: 100%;
  }

  .ms-badge {
    font-size: 14px;
    font-weight: normal;
    background-color: #165bba;
  }
  
  .ms-main-txt {
    font-size: 1.2rem;
  }


  @media screen and ( max-width: 1920px) {
    
      .offcanvas.offcanvas-end {
        width: 60%
      }

  }

  @media screen and ( max-width: 1320px) {
    
    .offcanvas.offcanvas-end {
      width: 60%
    }

}

  
  @media screen and ( max-width: 1041px) {
    
    .ms-text {
        display: none;
    }

    .offcanvas.offcanvas-end {
      width: 60%
    }

  }

  @media screen and ( max-width: 992px) {

    .ms-text {
        display: none;
    }
    .offcanvas.offcanvas-end {
      width: 60%
    }

  }

  @media screen and ( max-width: 763px) {
    
    .offcanvas.offcanvas-end {
      width: 60%
    }

}

  @media screen and ( max-width: 540px) {
    
    .offcanvas.offcanvas-end {
      width: 70%
    }

}

@media screen and ( max-width: 465px) {
    
  .offcanvas.offcanvas-end {
    width: 70%
  }

}