.form-control:focus {
    box-shadow: none;
}


.ms-background-debug {
    background-color: black;
}

.ms-nav {
    max-height: 4.375rem;
    background-color: white;
}

.ms-btn {
    background-color: white;
    border: none;
    color: black;
}

.ms-search-bg {
    background-color: #e5e5e5;
}

.small-logo {
   width: 60px;
   height: 60px;
}